<div class="jumbotron mt-4">
    <h1 class="display-4">notas app nodejs y mongoodb</h1>
    <p class="lead"> cualquier cosa</p>
    <hr class="my-4">
    <p> dsajdnasdnsjand</p>
    <a href="https://www.google.com/" class="btn btn-primary bt">google
    </a>
</div> 